<div id="stalker">
  {% if site.theme_settings.social.github %}
  <a rel="me" title="{{ site.theme_settings.social.github }} on Github" href="https://github.com/{{ site.theme_settings.social.github }}">
    <i class="fa-brands fa-github-square"></i>
  </a>
  {% endif %}
  {% if site.theme_settings.social.mastodon %}
  <a rel="me" title="{{ site.theme_settings.name }} on Flickr" href="https://mastodon.social/@{{ site.theme_settings.social.mastodon }}">
    <i class="fa-brands fa-mastodon"></i>
  </a>
  {% endif %}
  {% if site.theme_settings.social.hacker_news %}
  <a rel="me" title="{{ site.theme_settings.social.hacker_news }} on Hacker News" href="https://news.ycombinator.com/user?id={{ site.theme_settings.social.hacker_news }}">
    <i class="fa-brands fa-hacker-news-square"></i>
  </a>
  {% endif %}
  {% if site.theme_settings.social.stackexchange %}
  <a rel="me" title="{{ site.theme_settings.name }} on Stack Exchange" href="https://stackexchange.com/users/{{ site.theme_settings.social.stackexchange }}">
    <i class="fa-brands fa-stack-exchange"></i>
  </a>
  {% endif %}
  {% if site.theme_settings.social.stackoverflow %}
  <a rel="me" title="{{ site.theme_settings.name }} on Stack Overflow" href="http://stackoverflow.com/users/{{ site.theme_settings.social.stackoverflow }}">
    <i class="fa-brands fa-stack-overflow"></i>
  </a>
  {% endif %}
  {% if site.theme_settings.social.twitter %}
  <a rel="me" title="{{ site.theme_settings.social.twitter }} on Twitter" href="https://twitter.com/{{ site.theme_settings.social.twitter }}">
    <i class="fa-brands fa-twitter-square"></i>
  </a>
  {% endif %}
  {% if site.theme_settings.social.facebook %}
  <a rel="me" title="{{ site.theme_settings.name }} on Facebook" href="https://facebook.com/{{ site.theme_settings.social.facebook }}">
    <i class="fa-brands fa-facebook-square"></i>
  </a>
  {% endif %}
  {% if site.theme_settings.social.tumblr %}
  <a rel="me" title="{{ site.theme_settings.name }} on tumblr" href="https://{{ site.theme_settings.social.tumblr }}.tumblr.com">
    <i class="fa-brands fa-tumblr-square"></i>
  </a>
  {% endif %}
  {% if site.theme_settings.social.linkedin %}
  <a rel="me" title="{{ site.theme_settings.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.theme_settings.social.linkedin }}">
    <i class="fa-brands fa-linkedin-square"></i>
  </a>
  {% endif %}
  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="fa fa-rss-square"></i>
  </a>
</div>
