<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.url == '/index.html' %}{{ site.theme_settings.name }} - {{ site.theme_settings.tagline }}{% else %}{{ page.title
        }} - {{ site.theme_settings.name }}{% endif %}</title>
    <meta name="author" content="{{ site.theme_settings.name }}" />
    <meta name="description" content="The blog of {{ site.theme_settings.name }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
    <link rel="shortcut icon" href="/favicon.gif">
    <link rel="alternate" type="application/rss+xml" title="{{ site.theme_settings.name }}" href="{{site.url}}/atom.xml" />
    <link rel="stylesheet" href="/assets/fonts/fira/fira.css">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/screen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="four columns sidebar">{% include sidebar.html %}</div>
        <div class="eleven columns content">{{ content }}
            <div class="footer">{% include footer.html %}</div>
        </div>
    </div>
    {% include analytics.html %}
</body>

</html>
